body,
html {
  height: 100%;
  font-family: "Mukta", sans-serif;
  background-color: #e5e7e9;
}

* {
  box-sizing: border-box;
}

a {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  transition: all 0.5s ease;
}

a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

.card {
  border: 1px solid #000;
  border-radius: 10px;
  box-shadow: 2px 5px 2px black;
  max-width: 350px;
  text-align: center;
  background-color: #fff;
  margin: 70px;
}

.wrapper {
  width: 70%;
  margin: 0 auto;
}

.header {
  padding: 1.5em;
}

.avatar {
  border: 3px solid #000;
  border-radius: 50px;
}

.occupation {
  margin: 8px 0px;
  font-size: 20px;
  font-weight: 700;
}

.salary,
.status p {
  color: gray;
}

.mainInfo {
  background-color: #f4f4f4;
}

.userName {
  font-size: 20px;
  font-weight: 700;
}

.bio,
.city,
.userName {
  padding: 10px 0px;
}

.bio,
.city {
  font-size: 16px;
  color: gray;
}

.bio {
  line-height: 25px;
}

.links {
  list-style: none;
}

.link {
  border: 2px solid #039be6;
  font-weight: 700;
  border-radius: 8px;
  padding: 8px 45px;
  display: inline-block;
}

.cv-wrapper {
  padding: 15px 0px;
  color: #039be6;
}

.offer-wrapper {
  padding-bottom: 15px;
  color: #fff;
}

.offer {
  background-color: #039be6;
}

.cv:hover {
  background-color: #039be6;
  color: #fff;
}

.offer:hover {
  color: #039be6;
  background-color: #fff;
  border: 2px solid #039be6;
}

.flex-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-wrap p {
  margin-left: 10px;
}

.status {
  padding: 15px 0px;
}

.circle {
  font-size: 8px;
  color: #8ec24c;
}
